@import url("localstyles/adminlteblock.css");
@import url("localstyles/progressbar.css");
@import url("localstyles/userreport.css");
@import url("localstyles/chartjs.css");
@import url("localstyles/jquery.dataTables.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("localstyles/userdossie.css");


#container {
  height: 400px;
}

.highcharts-data-table{
  background: white;
  margin-top: -15px;
}
 .highcharts-credits{
  display: none;
 }
.highcharts-figure
{
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
  min-height: 400px;
  background:url("localstyles/background_line_chart.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-color: white;
  
}
.highcharts-container {
  background-color: white;
}
.edudashboard-dataonchart{
  background:url("localstyles/spinner.gif");
  background-size: auto auto;
  background-position: center center;
}


figure{
    border: #ddd;
    border-style: solid;
    border-width: 1px;
}
#datatable {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

#datatable caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

#datatable th {
  font-weight: 600;
  padding: 0.5em;
}

#datatable td,
#datatable th,
#datatable caption {
  padding: 0.5em;
}

#datatable thead tr,
#datatable tr:nth-child(even) {
  background: #f8f8f8;
}

#datatable tr:hover {
  background: #f1f7ff;
}


.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/*Moodle with Puruty*/
.card {
    background-color: #fbfbfb;
 }
/*Moodle without Puruty*/
 #region-main{
 background-color: #fbfbfb;
}

.edudashboard-nochartdata-msg{
    text-align: center;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
}


.edudashboard-main .mycourses-info td{
    height: 90px;
    width: 33.33%;
}
.edudashboard-main .mycourses-info td:not(:first-child){
    padding-left: 10px;    
}
.edudashboard-main .mycourses-info .mci-block{
    background-color: white;
    display: inline-flex;
    box-shadow: 0px 1px 2px 0px grey;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.mci-block .inner-block{
    height: 100%;
    Width: 90px;
    border-radius: 5px 0 0 5px;
    margin-right: 9px;

}

.mci-block .inb-courses{
    background-color:#28a745;
}

.mci-block .inb-courses-done{
  background-color: #ffc107;
}

.mci-block .inb-grade-avg{
  background-color: #17a2b8;
}

.mci-info{
  padding-top: 4px;
}

.mci-block .fa {
    font-size: 50px;
    right: 15px;
    margin-top: 25%;
    color: rgba(0,0,0,.15);
    top: 15px;
    transition: transform .3s linear,-webkit-transform .3s linear;
}

.mci-info p{
    position: absolute;
    top: 14%;
    font-size: 16px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .3em .3em;
  }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: unset;  
    background: unset;  
}

.apexcharts-canvas{
  background: white;
}

.course-creating-info .col, .course-fast-info .col {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 100%;
}

.course-creating-info .col, .course-fast-info .col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.course-creating-info .row, .course-fast-info .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}





