.bg-info h3,.bg-success h3,.bg-danger h3, .bg-info>a,.bg-success>a,.bg-danger>a {
    color: #fff !important;
}
.bg-info {
    background-color: #17a2b8!important;
    color: #fff !important;
}
.bg-success {
    background-color: #28a745!important;
    color: #fff !important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-danger {
    background-color: #dc3545!important;
   color: #fff !important;
}
.small-box .icon {
    font-size: inherit;
}

.small-box .icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    margin-right: 0.5rem;
}
.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
    
}
.bg-info {
    background-color: #17a2b8!important;
}
.small-box>.inner {
    padding: 10px;
}
@media (min-width: 1200px){
.col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
    font-size: 2.2rem;
}
}
@media (min-width: 992px){

        .col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
            font-size: 1.6rem;
        }
}
.small-box h3, .small-box p {
    z-index: 5;
}
.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}
small-box h3, .small-box p {
    z-index: 5;
}
.small-box p {
    font-size: 12px;
}
sup {
    top: -0.2em;
    font-size: 20px;
}
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
.small-box h3, .small-box p {
    z-index: 5;
}

.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}

.small-box .back-ic {
    font-size: 70px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
}

.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.animate-blow{
    transform: scale(1.11);
}