.edudashboard-main .row {
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; 
}
.edudashboard-main .col {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 100%;width: 50%;
    margin: 15px;
}