{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   theme_remui
    @copyright (c) 2020 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template theme_remui/activity_navigation

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
    }
}}

<div class="contain" style="padding-top:20px">
  
  {{#fastreport}}
   
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{users}} / {{suspendedusers}}</h3>
            <p>{{active_suspend_users}}</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add back-ic"></i>
          </div>
          <a href="{{wwwroot}}/admin/user.php" class="small-box-footer">{{more_information}} <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{courses}}</h3>
            <p>{{courses_label}}</p>
          </div>
          <div class="icon">
            <i class="fa fa-book back-ic"></i>
          </div>
          <a href="{{wwwroot}}/course/management.php" class="small-box-footer">{{more_information}} <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{completionpercent}}<sup>%</sup></h3>
            <p>{{courses_conclusio_label}}</p>
          </div>
          <div class="icon">
            <i class="fa fa-graduation-cap back-ic"></i>
          </div>
          <a href="#" class="small-box-footer">(Premium only) {{more_information}} <i class="fa fa-arrow-circle-right"></i> </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{todaysusers}}</h3>
            <p>{{authentications_today_label}}</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph back-ic"></i>
          </div>
          <a href="#" class="small-box-footer">(Premium only) {{more_information}} <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

    </div>

  {{/fastreport}}
  <div class="edudashboard-main">  
    <div class="row">
      {{#blocks}}
        <div class="col" >
          {{{content}}}            
        </div> 
      {{/blocks}}
    </div>
   
    <div class="row">
      {{#courses_size}}
        <div class="col" >
          {{{content}}}            
        </div> 
      {{/courses_size}}

      {{#fastreport}}
        <div class="col" >

          <div class="progress-conteiner" style="background: white;min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
            height: 400px;
            padding: 1em 0;border: #ddd;
            border-style: solid;
            border-width: 1px;
            color: #555;" >           
            <center>
              <div style="display:inline-grid;">          
                {{^crondisk}}
        
                <div id="radialchart"></div>
           
                <b>{{disk_space}}</b>{{moodledata_size}}

                {{/crondisk}}

                {{#crondisk}}

                <p>{{disk_no_data}}</p>
                {{/crondisk}}       

              </div>
            </center>
          </div>
        </div>
      {{/fastreport}}
    </div>

    {{#showadmin}}
      {{#site_user_courses}}
        <div class="row">
          <div class="col-lg-12"> 
        
            {{{content}}} 

          </div>
                   
        </div>
      {{/site_user_courses}}
    {{/showadmin}}
    {{#shou_config}}
      <a href="{{wwwroot}}/admin/category.php?category=edudashboard" class="small-box-footer float-right">{{configtext}} <i class="fa fa-arrow-circle-right"></i></a>
    {{/shou_config}} 
  </div>
</div>