<div style="margin-top: 25px;">
    <table style="width: 100%; text-align: center;">
        <tr class="mycourses-info">
            <td>
                <div class="mci-block">
                    <div class="inner-block inb-courses">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="mci-info">
                        <b>{{#str}} mycourses, local_edudashboard {{/str}}</b>
                        <p>{{totalcorses}}</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="mci-block">
                    <div class="inner-block inb-courses-done">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="mci-info">
                        <b>{{#str}} mycompletedcourses, local_edudashboard {{/str}}</b>
                        <p>{{finisheds}}</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="mci-block">
                    <div class="inner-block inb-grade-avg">
                        <i class="fa fa-table"></i>
                    </div>
                    <div class="mci-info">
                        <b>{{#str}} mygradeavg, local_edudashboard {{/str}}</b>
                        <p>{{maxgrade}}%</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br/>
</div>

{{> local_edudashboard/chartview}}

<a href="{{wwwroot}}/local/edudashboard/userreport.php?id={{userid}}">{{#str}} myclicktosompleteview, local_edudashboard {{/str}}</a>
